doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title One Page Wonder - Start Bootstrap Template

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i' rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
            .container.px-5
                a.navbar-brand(href='#page-top') KnowAll AI Ltd
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='mailto:hello@knowall.ai') hello@knowall.ai

        // Header
        header.masthead.text-center.text-white
            .masthead-content
                .container.px-5
                    h1.masthead-heading.mb-0 Knowledge is processing power
                        //img.masthead-logo(src='assets/img/logo.png', alt='...')
                    //h2.masthead-subheading.mb-0 Knowledge is processing power
                    // a.btn.btn-primary.btn-xl.rounded-pill.mt-5(href='#scroll') Learn More
            .bg-circle-1.bg-circle
            .bg-circle-2.bg-circle
            .bg-circle-3.bg-circle
            //.bg-circle-4.bg-circle

        // Content section 1
        section#scroll
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-2
                        .p-5
                            img.img-fluid.rounded-circle(src='assets/img/01.png', alt='...')
                    .col-lg-6.order-lg-1
                        .p-5
                            h2.display-4 Innovation
                            p
                                | Our mission is to facilitate the growth of artificial intelligence in a positive way to the benefit of mankind. We will do this by providing enterprises with leading edge artificial intelligence solutions that provide tangible benefits to their business and their customers.

        // Content section 2
        section
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6
                        .p-5
                            img.img-fluid.rounded-circle(src='assets/img/02.jpg', alt='...')
                    .col-lg-6
                        .p-5
                            h2.display-4 Consulting
                            p
                                | We are a small consultancy offering boutique consulting services to businesses looking to leverage the power of artificial intelligence. We can help you to understand the potential of AI for your business and to implement solutions that will drive growth and profitability.

        // Content section 3
        section
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-2
                        .p-5
                            img.img-fluid.rounded-circle(src='assets/img/03.png', alt='...')
                    .col-lg-6.order-lg-1
                        .p-5
                            h2.display-4 Contact
                            p
                                | Feel free to get in touch with as at <a href="mailto:hello@knowall.ai">hello@knowall.ai</a> or on <a href="https://www.linkedin.com/company/knowall">LinkedIn</a>.

        // Footer
        footer.py-5.bg-black
            .container.px-5
                p.m-0.text-center.text-white.small Copyright &copy; KnowAll AI Ltd 2024. Registered Office: 46 Hullbridge Road, South Woodham Ferrers, UK, CM3 5NG.

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')